Broken email server for elections@nixos.org

### Question

```
<[elections@nixos.org](mailto:elections@nixos.org)>: host
   [mx2.improvmx.com](http://mx2.improvmx.com/)[2a05:d012:412:e201:1f6e:f6e4:8fd7:4678] refused to talk to
   me: 550 5.7.25 IP name lookup failed. No valid PTR record found for the
   given IP address. - ImprovMX v2024.06.06
Reporting-MTA: dns; [mail.govanify.com](http://mail.govanify.com/)
X-Postfix-Queue-ID: 4D4D598FDB43
X-Postfix-Sender: rfc822; [gauvain@govanify.com](mailto:gauvain@govanify.com)
Arrival-Date: Fri, 20 Sep 2024 18:05:10 +0200 (CEST)

Final-Recipient: rfc822; [elections@nixos.org](mailto:elections@nixos.org)
Original-Recipient: rfc822;[elections@nixos.org](mailto:elections@nixos.org)
Action: failed
Status: 5.7.25
Remote-MTA: dns; [mx2.improvmx.com](http://mx2.improvmx.com/)
Diagnostic-Code: smtp; 550 5.7.25 IP name lookup failed. No valid PTR record
   found for the given IP address. - ImprovMX v2024.06.06
   ```

### Candidates I'd like to get an answer from

_No response_

### Reminder of the Q&A rules

Please adhere to the [Q&A guidelines and rules](https://github.com/NixOS/SC-election-2024/blob/main/doc/qna.md)

We're not even hosting our own Email server, it's https://improvmx.com/.

I think I'm gonna have to pass this hot potato back to you, this looks like a failure of your email server :sweat_smile:. Specifically a missing PTR record (see [reverse DNS lookup](https://en.wikipedia.org/wiki/Reverse_DNS_lookup) as the error indicates.

Triple checked and I do _indeed_ have a PTR record, see:

```
dig -x 95.216.240.149

; <<>> DiG 9.10.6 <<>> -x 95.216.240.149
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 18096
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
;; QUESTION SECTION:
;149.240.216.95.in-addr.arpa.	IN	PTR

;; ANSWER SECTION:
149.240.216.95.in-addr.arpa. 86400 IN	PTR	mail.govanify.com.

;; Query time: 32 msec
;; SERVER: 1.1.1.1#53(1.1.1.1)
;; WHEN: Fri Sep 20 18:19:49 CEST 2024
;; MSG SIZE  rcvd: 87
```

```
➜  ~ dig -x "2a01:4f9:2b:22c1::1"                                                                                                                                                          

; <<>> DiG 9.18.27 <<>> -x 2a01:4f9:2b:22c1::1
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 37190
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
; COOKIE: cbb0d68f065ed37c0100000066eda165fb9994a523461230 (good)
;; QUESTION SECTION:
;1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.c.2.2.b.2.0.0.9.f.4.0.1.0.a.2.ip6.arpa. IN PTR

;; ANSWER SECTION:
1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.c.2.2.b.2.0.0.9.f.4.0.1.0.a.2.ip6.arpa. 86400	IN PTR mail.govanify.com.

;; Query time: 20 msec
;; SERVER: 192.168.1.1#53(192.168.1.1) (UDP)
;; WHEN: Fri Sep 20 18:23:01 CEST 2024
;; MSG SIZE  rcvd: 160
```


I'd also argue that only an A record is required to email in theory according to Section 5 of RFC 5321 :p

Huh yeah, that all checks out. Email received, I guess your assessment is right.